node_modules
dist
.local
.git
.gitignore
.env
.env.*
.idea
.vscode
.config
coverage
playwright-report
test-results
*.log
*.zip
*.apk
android/%ANDROID_SDK_ROOT%/
android/wrapper/dists/
mobile/android/.gradle/
mobile/android/build/
mobile/android/app/build/
server/logs/
server/public/uploads/
